<!DOCTYPE html>
<html>
<header>
    <title>FG Concerto de Computadores</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/index.css">
</header>

<body>
    <div class="menu-header">
        <div class="button-menu">
            <button onclick="window.location='../index.html'">Inicio</button>
            <button onclick="window.location='serviços.html'">Serviços</button>
            <button>Fale Conosco</button>
        </div>
        <div class="title">
            <img src="../imagem/logo.png" width="120px">
        </div>
    </div>
    <br><br>
    <div class="form-contato">
        <form method="GET" action="#">
            Nome: <input type="text" name="nome"> <br><br>
            Email: <input type="email" name="email"> <br><br>
            Endereço: <input type="text" name="endereço"> <br><br>
            Telefone: <input type="ddd" name="numero" placeholder="(00) 0 0000 - 0000 "> <br><br>
            Atendimento desejado: <br>
            Na empresa: <input type="radio" name="matemática"> <br>
            A domicílio: <input type="radio" name="inglês"> <br><br>
            
            Selecione o turno de sua preferência: <br>
            Manhã: <input type="radio" name="sexo"> <br>
            Tarde: <input type="radio" name="sexo"> <br><br><br>
            <button onclick="enviar()">Enviar</button>
            <button type="reset">Limpar</button>
            
    </div>
   <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <div class="footer">
        <label for="">FG Concerto de Computadores</label><br>
        <label for="">54 3300 0000 - Passo Fundo / RS - São José, BR285 123 Sala 2</label>


    </div>


    <script>
        function enviar(){
            alert("Enviado com Sucesso!");
        }
    </script>
</body>

</html>