<!DOCTYPE html>
<html>
<header>
    <title>FG Concerto de Computadores</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/index.css">
</header>

<body>
    <div class="menu-header">
        <div class="button-menu">
            <button onclick="window.location='../index.html'">Inicio</button>
            <button onclick="window.location='#'">Serviços</button>
            <button onclick="window.location='faleConosco.html'">Fale Conosco</button>
        </div>
        <div class="title">
            <img src="../imagem/logo.png" width="120px">
        </div>
    </div>
    <div class="sidebar-servico">
        <h2 style="border: solid 2px rgb(122, 172, 236); border-radius: 20rem; text-align: center; width: 200px;">Nossos Serviços</h2>
        <div class="list">
            <ul>
                <li>
                    Manutenção de computadores
                </li>
                <li>
                    Manutenção de rede
                </li>
                <li>
                    Cabeamento estruturado
                </li>
                <li>
                    Manutenção preventiva
                </li>
                <li>
                    Manutenção corretiva
                </li>
                <li>
                    Manutenção de servidores
                </li>
                <li>
                    Instalação de infraestrutura de rede cabeada e wifi
                </li>
                <li>
                    Configuração e instalação de dispositivos
                </li>
            </ul>
        </div>
        <br><br>
        <center>
        <div>
            <table style="border: solid 2px black;" class="table-servico">
                <tr>
                    <td colspan="3" style="text-align: center;">
                        <label for="" style="font-size: 14pt; font-weight: bold;">Promoções</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="">Manutenção Preventiva</label>
                    </td>
                    <td>
                        <label for="">Desktop</label>
                    </td>
                    <td>
                        <label for="">R$ 90,00</label>
                    </td>
                </tr>
                <tr>
                    <td rowspan="2">
                        <label for="">Reparo de Placa Mãe</label>
                    </td>
                    <td>
                        <label for="">Desktop</label>
                    </td>
                    <td>
                        50% OF
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="">Notebook</label>
                    </td>
                    <td>
                        <label for="">30% OF</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="">Manutenção de Servidores</label>
                    </td>
                    <td>
                        <label for="">HP / Lenovo</label>
                    </td>
                    <td>
                        <label for="">R$ 180,00</label>
                    </td>
                </tr>
            </table>
        </div></center>
        <br><br>
        <div>
          <center><img src="../imagem/banner2.png" width="60%"></center>
        </div>
    </div>
    <div class="footer">
        <label for="">FG Concerto de Computadores</label><br>
        <label for="">54 3300 0000 - Passo Fundo / RS - São José, BR285 123 Sala 2</label>


    </div>

</body>

</html>